{% extends 'shop/basic.html' %}
{% block title %} Contact {%endblock%}
{% block body %}
<div class ="container">
    <h3> Contact us </h3> 


<form action ="/shop/contact/" method= "post" class="row g-3 needs-validation" novalidate>{% csrf_token %}
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Name</label>
      <input type="text" class="form-control" id="text" name ='name' value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name ='email' value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Phone no.</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend" name ='phone'>+91</span>
        <input type="phone" class="form-control" id="phone" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">City</label>
      <input type="city" class="form-control" id="city" name = 'city' required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">State</label>
      <select class="form-select" id="validationCustom04" nae ='state' required>
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Zip</label>
      <input type="zip" class="form-control" id="validationCustom05" name ='zip' required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Enter your query here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1"  name = 'desc' rows="3"></textarea>
      </div>
    
    
    <div class="col-24">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
  {%endblock%}